#right_sidebar {
    top: 3.3rem !important;
}

div#top_nav nav h1 img {
    height: 3.5rem !important;
}

#top_nav nav {
    background-color: #71b1e8 !important;
}

#show_right_sidebar {
    top: 2.3rem !important;
}